body{
    color: rgb(0, 0, 0);
    background-color: rgb(171, 231, 231) ;
    }
    
nav{
    height: 10px;
    margin:0 0 0px 0;
    color:#fdfdfd rgb(10, 20, 7);;
    }

footer{
    width:100%;
    height:20px;
    color: rgb(255, 255, 255);
    }
#display{
    position: sticky;
    color: rgb(25, 22, 37);
}
